---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">上界了,月末求月票</div>
        <div class="next">
                        <a href="/books/5/253329">上一章</a>
                        <a href="/books/5">目录</a>
                        <a href="/books/5/253331">下一章</a>
                    </div>
        <p>
            终于，石昊踏上了这条路，真正开始踏足上一界，新的篇章将从此开启。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;月末了，呼唤兄弟姐妹，手中还有月票吗？请投过来吧，不然就要过期了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;呼唤中。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;感谢大家！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;www.cishuge.com提供无弹窗的文字章节在线阅读和txt电子书免费下载<br />　　
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/5/253329">上一章</a>
                        <a href="/books/5">目录</a>
                            <a href="/books/5/253331">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

