---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">端午节快乐!再求月票!</div>
        <div class="next">
                        <a href="/books/10/264223">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/264225">下一章</a>
                    </div>
        <p>
            冲进前五十了，哈哈哈哈，虽然仅仅只是前五十的末尾，还时不时会被挤出去，但是啸尘还是非常高兴，谢谢大家的支持，终于在六月过去了十一天的时候，跨入了前五十的门槛，对于我们来说，这是决然不容易的！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;现在距离前面一位，仅仅只是相差三票了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;本来应该还有一更加更的，但是现在啸尘已经撑不住了今天一天都在不断喝咖啡强提精神，但是现在真的撑不住了，眼皮子都睁不开了，手都感觉特别沉重，所以只能先抱歉的放一放了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还差十票，十票明天就加更！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;另外再求推荐票和月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;提供无弹窗全文字在线阅读，更新速度更快文章质量更好，如果您觉得网不错就多多分享本站!谢谢各位读者的支持!<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;高速首发武神空间最新章节，本章节是端午节快乐！再求月票！地址为如果你觉的本章节还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/10/264223">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/264225">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

