---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">又看到一个脑残了!</div>
        <div class="next">
                        <a href="/books/10/264433">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/264435">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;()&nbsp;&nbsp;&nbsp;&nbsp;今天又看到一个脑残在书评区里捣乱，伤不起啊！又一个觉得看盗版有理的，他觉得看盗版的骂我，那叫语气稍微有点冲，我说回去，那是我没素质！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;就算退一万步，那叫‘语气有点冲’好了，但是我又没收你钱，我有义务听你这个‘有点冲’的话？还要乖乖俯首帖耳？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;觉得我说话冲的，我只想说，你自己也学学说人话吧，但凡好好说话的，无论是提意见还是抱怨的，无论是看正版，还是盗版的，我有一次说话冲么？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所有让我发火的，都是不说人话的，一边看盗版一边还冷嘲热讽，作者智商不行，人物脑残之类的，有的还辱及父母，换了你你生气不？对一个连人话都不会说的，我难道还要客客气气的？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;孔子说：何以报德？以直报怨，以德报德！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;前贤也说，你想让别人怎么对你，你自己先要怎么对别人，你这么‘说话有点冲’，那就别怪我说话也‘有点冲’了，我至今仍然无法理解一些人的思维，不想看也就算了，觉得不好也就算了，不看点叉也就算了，关键是还非得找不自在，这个是极品中的极品，一般人不爽抱怨一下也就算了，这个干脆各种捣乱，我真不知道他哪儿来的怨气，我又没收他钱，以前也没说过他？这是为毛啊？&nbsp;.&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;是我的思维无法理解脑残了？(未完待续。。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/10/264433">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/264435">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

