---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">更新之后求个月票!</div>
        <div class="next">
                        <a href="/books/10/264565">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/264567">下一章</a>
                    </div>
        <p>
            今天先三更，啸尘明天要去新家收拾一下，后天也就是十三号就要搬家了，上午搬家，下午牵网线，所以这个更新应该会弄到晚上这样子，等搬了家，这段时间最麻烦的一件事情就算是解决了，就可以安心码字了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;望请见谅！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;另外小小得瑟一下，又蹿上了vip更新榜榜首，桀桀！也算是对这段时间啸尘更新的一个见证吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;另外继续求月票，这几天啸尘虽然更新没前几天猛了，但是也还是厚颜求一下月票，等稳定了就再爆发一次这样子，求大家的支持，现在正是需要月票稳定现在位置的时候！(未完待续。。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/10/264565">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/264567">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

