---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">六更到,第四天求月票,战!</div>
        <div class="next">
                        <a href="/books/10/264517">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/264519">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;本月第三天过去了，三天就更新了十七更，啸尘已经在爆发了，我知道大家手中其实还是有保底月票的吧，当然，如果有一些人打算在月末双倍月票的时候投票的也是可以的撒！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;本月对于啸尘来说，算得上是意外之喜吧，一举冲进了玄幻榜第七名，对于很多大神来说，或许还没发力，但是无论如何，啸尘都不想认输，这个排名，每能坚守一天，啸尘的信心就会多出一分，同样的，啸尘还想在总榜上继续往前走，现在是第三十五名，目标是冲进前三十名，现在也不过是差了区区九票而已，再有六票，今天就将再度加更一更达到四更，二十一票就五更，大家手头还有多少票，就全部都砸给啸尘吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;另外九月六号晚上的读者活动，欢迎大家踊跃参与！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;谢谢大家，啸尘去睡了，最近身体也不是很好，这两天还发烧，每天码到晚上的时候，都比较累，比较困！(未完待续。。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/10/264517">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/264519">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

