---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第两千八百七十六章 这一次,叶希文死定了!</div>
        <div class="next">
                        <a href="/books/10/266188">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/266190">下一章</a>
                    </div>
        <p>
            
        </p>
        <div class="next">
                            <a href="/books/10/266188">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/266190">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

