---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">本月号角已经吹响,求大家手里的月票支持!</div>
        <div class="next">
                        <a href="/books/10/266661">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/266663">下一章</a>
                    </div>
        <p>
            @@<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;如题，今年最后一个月了，可不能掉链子啊，大家手里有多少月票都交出来吧，求支持！(未完待续……)<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/10/266661">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/266663">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

