---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">五月大战来了,你们的月票呢!</div>
        <div class="next">
                        <a href="/books/10/266958">上一章</a>
                        <a href="/books/10">目录</a>
                        <a href="/books/10/266960">下一章</a>
                    </div>
        <p>
            @@还等什么呢，又刷新了，求的支持啊，到了五月了！<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;先祝大家五一节快乐，其次就是大家把藏着的都投出来吧，啸尘在这里多谢大家了！(未完待续~^~。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/10/266958">上一章</a>
                        <a href="/books/10">目录</a>
                            <a href="/books/10/266960">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

