---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">各位,国庆快乐!</div>
        <div class="next">
                        <a href="/books/21">目录</a>
                        <a href="/books/21/285966">下一章</a>
                    </div>
        <p>
            @@﻿上一页<br />　　各位书友，好久不见^_^<br />　　首先祝愿各位在国庆长假里玩得疯癫快乐……<br />　　难得的一回长假，整整七天哎。<br />　　不要想过去之后的连续上班，就开开心心的过完这几天吧。<br />　　今天白鹤带着家中小人吃饭、逛街，十分开心，刚刚回家。<br />　　嘿嘿，幸好的是，没有上高速，否则哭都来不及。<br />　　新书期间，每日三更，也不矫情，都是一次发完。<br />　　请各位在观阅闲暇之时，能够投白鹤一张推荐票，那就感激不尽了。<br />　　谢谢！<br />　　求会员点击、推荐票和收藏。<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                        <a href="/books/21">目录</a>
                            <a href="/books/21/285966">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

