---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">五更,求订阅、月票和推荐票!</div>
        <div class="next">
                        <a href="/books/21/286252">上一章</a>
                        <a href="/books/21">目录</a>
                        <a href="/books/21/286254">下一章</a>
                    </div>
        <p>
            @@纯文字在线阅读本站域名手机同步阅读请访问<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;今日五更完毕，从今天开始，所有的章节都是全新的了。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;以前有些话不好说，就算是订阅、月票、推荐票什么的，也不好意思大声开口求。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;但是，从今天起，白鹤要求了。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;所有的一切，都要光明正大的求。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;求订阅，求推荐、求月票。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;今天23号，本月结束还有一周多点，在这最后一周，请让白鹤获得一份惊喜吧。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;谢谢。rs<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/21/286252">上一章</a>
                        <a href="/books/21">目录</a>
                            <a href="/books/21/286254">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

