---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">抱歉,请假一日,明后日补</div>
        <div class="next">
                        <a href="/books/21/287194">上一章</a>
                        <a href="/books/21">目录</a>
                        <a href="/books/21/287196">下一章</a>
                    </div>
        <p>
            @@纯文字在线阅读本站域名手机同步阅读请访问<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;如题，今天电脑崩溃，写的一章半全部打水漂。白鹤正在朋友家重装系统。明后日一定补上。汗(未完待续。。)r527<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/21/287194">上一章</a>
                        <a href="/books/21">目录</a>
                            <a href="/books/21/287196">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

