---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">推荐始王的作品《拳头寂寞》</div>
        <div class="next">
                        <a href="/books/6/254787">上一章</a>
                        <a href="/books/6">目录</a>
                        <a href="/books/6/254789">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　他横我还横，砣锤上杆秤；<br />　　人强我更强，狂风吹大江。<br />　　——打遍天下无敌手，拳头最是寂寞。<br />　　（武侠网游，武侠情结，敬请支持！）<br />　　作者号：1937241<br />　　[bookid=1937241,bookname=《拳头寂寞》]c<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/6/254787">上一章</a>
                        <a href="/books/6">目录</a>
                            <a href="/books/6/254789">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

