---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">推荐圣者晨雷的书,《技压群芳》</div>
        <div class="next">
                        <a href="/books/6/254784">上一章</a>
                        <a href="/books/6">目录</a>
                        <a href="/books/6/254786">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　简介一：我很想用“鸡压群芳”这个名字的，但是恐怕通不过啊，所以只能含蓄地使用《技压群芳》了。<br />　　简介二：聚灵术、炼丹术、铸剑术、魂纹术，四大技能辅佐武者。他的老师是隐密宗派的弃徒，他自己是破空而来的穿越者，当星辰之女应运而生时，他是如何技压群芳，书写自己的传说？<br />　　简介三：九洲世界，星落如雨，星辰之裔，应运而生。谁能乘势而起，浑一人界？谁能破除藩篱，开创大道？谁能匠武双成，成就传奇？<br />　　书名《技压群芳》，书号2099798<br />　　[bookid=2099798,bookname=《技压群芳》]c<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/6/254784">上一章</a>
                        <a href="/books/6">目录</a>
                            <a href="/books/6/254786">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

