---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">推荐汉隶的作品《太上魂道》</div>
        <div class="next">
                        <a href="/books/6/254791">上一章</a>
                        <a href="/books/6">目录</a>
                        <a href="/books/6/254793">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　道衍天、衍地、衍万千生灵，人悟世间秩序、悟天地法则、悟道之本源！<br />　　汉隶作品:一如既往的热血！<br />　　已完本作品：鸿蒙之始、体尊<br />　　书号：2054420<br />　　[bookid=2054420,bookname=《太上魂道》]c<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/6/254791">上一章</a>
                        <a href="/books/6">目录</a>
                            <a href="/books/6/254793">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

