---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">新书《通天剑主》</div>
        <div class="next">
                        <a href="/books/6/256304">上一章</a>
                        <a href="/books/6">目录</a>
                    </div>
        <p>
            @@﻿&nbsp;&nbsp;已发一个月了，目前字数十七万，还不知道的剑道读者们可以去看看，这次依旧是写剑，不过会有不一样的精彩，大家不妨一看。<br />　　<br />　　<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;——(未完待续。)<br />　　<br />　　≈@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/6/256304">上一章</a>
                        <a href="/books/6">目录</a>
                    </div>
    </div>
</div>

{% include foot.html %}

