---
title: 首页
---
{% include head.html %}

<div class="container">

    <div class="book">

    <div class="book_detial">
        <div class="book_cover"><img src="http://m.uczw.com/files/article/image/45/45299/45299s.jpg" border="0" width="100" height="120" onerror="this.src='/modules/article/images/nocover.jpg'"></div>
        <div class="book_desc">
            <p class="line">豆粕藏起送</p>
            <p class="line">作者：天蚕土豆</p>
            <p class="line">分类：科幻小说</p>
            <p class="line">状态：连载中</p>
        </div>
    </div>

    <div class="brief">
        <p class="brief-title">小说简介</p>
        <p class="brief-content">
            《诸天幕后魔王》是暴兵对A精心创作的科幻小说，言情小说网实时更新诸天幕后魔王最新章节并且提供无弹窗阅读，书友所发表的诸天幕后魔王评论，并不代表言情小说网赞同或者支持诸天幕后魔王读者的观点。
        </p>

    </div>

    <div class="book_chapters">

        <ul>
            <li title="拉单章求推荐收藏" class="article-info">
                <a href="249461">拉单章求推荐收藏</a>
            </li>
        </ul>
        <ul>
            <li title="第一章废品与古董的距离" class="article-info">
                <a href="249461">第一章废品与古董的距离</a>
            </li>
        </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>
        <ul>
            <li title="第一章废品与古董的距离" class="article-info">
                <a href="249461">第一章废品与古董的距离</a>
            </li>
        </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>        <ul>
        <li title="第一章废品与古董的距离" class="article-info">
            <a href="249461">第一章废品与古董的距离</a>
        </li>
    </ul>
        <ul>
            <li title="第二章做赝品最难的是什么" class="article-info">
                <a href="249461">第二章做赝品最难的是什么</a>
            </li>
        </ul>
        <ul>
            <li title="第三章乌木的所有权" class="article-info">
                <a href="249461">第三章乌木的所有权</a>
            </li>
        </ul>
        <ul>
            <li title="第四章滨海城隍庙" class="article-info">
                <a href="249461">第四章滨海城隍庙</a>
            </li>
        </ul>
        <ul>
            <li title="第九章捡漏" class="article-info">
                <a href="249461">第九章捡漏</a>
            </li>
        </ul>
        <ul>
            <li title="第十章古董行的混混" class="article-info">
                <a href="249461">第十章古董行的混混</a>
            </li>
        </ul>
    </div>
    </div>

</div>

{% include foot.html %}

