---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">祝福各位学子!</div>
        <div class="next">
                        <a href="/books/28/299546">上一章</a>
                        <a href="/books/28">目录</a>
                        <a href="/books/28/299548">下一章</a>
                    </div>
        <p>
            @@﻿高考在即，祝福各位参加高考的学子得考神保佑，顺利考上自己梦寐已求的学府。<br />　　<br />　　顺便提一句，上大学后不要忘记来支持皇甫！<br />　　<br />　　惯例，最龖后求点月票！兄弟们砸点月票过来!(未完待续。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/28/299546">上一章</a>
                        <a href="/books/28">目录</a>
                            <a href="/books/28/299548">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

