---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第五天,求月票!</div>
        <div class="next">
                        <a href="/books/28/299785">上一章</a>
                        <a href="/books/28">目录</a>
                        <a href="/books/28/299787">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;)<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;明天开始还债，求4月初保底月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;明天开始还债，求4月初保底月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;八点多才从上海回来，出过差的人应该知道，这种往来并不只是在交通工具上待几个小时的问题。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;皇甫对于上海的天气是极其不适应，眼睛充血干燥，点药水都没用。在镜子里看了下，都是血丝。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;休息不好啊，180星级的宾馆，也比不过自己睡习惯的那张床。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这就是宅男一族的种种怔状。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还好回来的时侯，已经特别调节、休息了，状态好多了。不过还是有些累，先睡了，养好精神，调好状态，明天开始发力发债。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;上个月欠了多少章，4月份都会补上。更新方面依然不会少。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;就是这样了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;12：00我可能是赶不上了，但是想求下4月份的首张月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;嗯，顺便说一下，看到其他书月末动不动就涨个两三百票的情况，真是羡慕啊。不过鉴于最后两天，咱也不说了。希望通过皇甫有努力，有一天也能看到这么热情壮阔的场面。(未完待续。如果您喜欢这部作品，欢迎您来（）订阅，打赏，您的支持，就是我最大的动力。)<br />　　
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/28/299785">上一章</a>
                        <a href="/books/28">目录</a>
                            <a href="/books/28/299787">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

