---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">已更新,谢谢大家的祝福</div>
        <div class="next">
                        <a href="/books/9/262641">上一章</a>
                        <a href="/books/9">目录</a>
                        <a href="/books/9/262643">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;这些天，蚕茧连续收到生日祝福。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还有很多书友精心准备的礼物。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;蚕茧知道，选礼物是最头疼的事情了，我也选过礼物，又是百度搜索，又是淘宝，抓破头不知道送什么。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;很多时候，在选礼物的用的心思上，这份情谊，就远远超过了礼物本身了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这几天，收到好多快递。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有羽毛球拍，有印上祝福语和蚕茧挫照的变色水杯，萌牛娃娃（咳咳），土特产，弹唱录音，等等，尤其是风风精心准备的，汇聚了武极天下很多粉丝萌照、靓照，并写上了祝福语的相册，还有视频。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;其中的封面所写的，一路有你相伴，真是蚕茧最想说的话了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;感谢大家。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;生日当天，还有武极天下手游项目组专门订下来的大蛋糕。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还有很多礼物，正在跑步赶往蚕茧的家中。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;都不知道该说什么了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;谢谢大家的热情，我其实不太会说话，拍了一些照片，等着在薇信上跟大家分享。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;感谢一路有你相伴。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;。(未完待续。。)u
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/9/262641">上一章</a>
                        <a href="/books/9">目录</a>
                            <a href="/books/9/262643">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

