---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第738章 带走江纳兰 一更</div>
        <div class="next">
                        <a href="/books/12/272923">上一章</a>
                        <a href="/books/12">目录</a>
                        <a href="/books/12/272925">下一章</a>
                    </div>
        <p>
            
        </p>
        <div class="next">
                            <a href="/books/12/272923">上一章</a>
                        <a href="/books/12">目录</a>
                            <a href="/books/12/272925">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

