---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第763章 第100条法则</div>
        <div class="next">
                        <a href="/books/12/272948">上一章</a>
                        <a href="/books/12">目录</a>
                        <a href="/books/12/272950">下一章</a>
                    </div>
        <p>
            
        </p>
        <div class="next">
                            <a href="/books/12/272948">上一章</a>
                        <a href="/books/12">目录</a>
                            <a href="/books/12/272950">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

