---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">《主宰乾坤》书号1051040</div>
        <div class="next">
                        <a href="/books/11/269394">上一章</a>
                        <a href="/books/11">目录</a>
                        <a href="/books/11/269396">下一章</a>
                    </div>
        <p>
            @@﻿推荐一本新书：<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这是一个热血少年脚踩七彩流云，左手抱着萝莉，右手搂着御姐，披荆斩棘，掌控万界的故事c(http://)《武炼巅峰》仅代表作者莫默的观点，如发现其内容有违国家法律相抵触的内容，请作删除处理，http://的立场仅致力于提供健康绿色的阅读平台。<br />　　【】，谢谢大家！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/11/269394">上一章</a>
                        <a href="/books/11">目录</a>
                            <a href="/books/11/269396">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

