---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">蓝领笑笑生新书《独步》</div>
        <div class="next">
                        <a href="/books/11/269396">上一章</a>
                        <a href="/books/11">目录</a>
                        <a href="/books/11/269398">下一章</a>
                    </div>
        <p>
            @@﻿书号:3068255,正在冲榜中，有兴趣的可以去看一看。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;简介：东越神洲，南黎蛮洲，西秦太洲，北斗灵洲……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;天下以势力为单位，群分天下，分天地玄黄四个等级……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;步铮本是一个不入流势力的山村小土鳖，在山里捡到两个绝世无双的老婆，小土鳖要开始搅乱整个天下了……c(http://)《武炼巅峰》仅代表作者莫默的观点，如发现其内容有违国家法律相抵触的内容，请作删除处理，http://的立场仅致力于提供健康绿色的阅读平台。<br />　　【】，谢谢大家！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/11/269396">上一章</a>
                        <a href="/books/11">目录</a>
                            <a href="/books/11/269398">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

