---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">隆重推荐逆苍天大神的新书《灵域》</div>
        <div class="next">
                        <a href="/books/11/269393">上一章</a>
                        <a href="/books/11">目录</a>
                        <a href="/books/11/269395">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;在浩瀚无际的灵域，有着无垠无限的海洋，有着许多大陆，有着各种各样的生灵种族，他们都在不断地突破自身，永恒追寻着天地间的终极玄妙。在这里，等级森严的武者势力，如蛛网般覆盖在世界上每一个偏僻角落！在这里，低等级的青石级势力，只能靠依附着强大势力来生存，被肆意践踏着尊严。在这里，金字塔顶端的黄金级势力，不但坐拥天地间最强大的武者，最神奇的灵器，最广阔的领土矿脉，和最玄妙的禁地秘境，还统领着诸多白银级、赤铜级、黑铁级、青石级势力！它们一个号令传达下去，能让天地变色，让山河被鲜血染红，让亿万生灵化为虚无！而主角秦烈，则是被封印了十年记忆，被他爷爷寄养在一个连青石级势力都评不上的小家族……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;书号：2817301。逆苍天出品，精品保证。c(http://)《武炼巅峰》仅代表作者莫默的观点，如发现其内容有违国家法律相抵触的内容，请作删除处理，http://的立场仅致力于提供健康绿色的阅读平台。<br />　　【】，谢谢大家！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/11/269393">上一章</a>
                        <a href="/books/11">目录</a>
                            <a href="/books/11/269395">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

