---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">推书,书名《九星》书号:3394686</div>
        <div class="next">
                        <a href="/books/11/269399">上一章</a>
                        <a href="/books/11">目录</a>
                        <a href="/books/11/269401">下一章</a>
                    </div>
        <p>
            推荐一本朋友的书，老作者的书了，书名：九星<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;书号：3394686<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;简介：<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;如果有一天，你死了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;你的面前有两个选项：<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;a，重生一次，b，穿越异界。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;你，会如何选择？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;扬扇放歌三千里，笑引凶星入命宫！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一个无名刺客，身负紫金星象，腰缠万贯家财，驾临了这个妖孽而激情的时代。i1153
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/11/269399">上一章</a>
                        <a href="/books/11">目录</a>
                            <a href="/books/11/269401">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

