---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">七更完毕,疯狂求月票</div>
        <div class="next">
                        <a href="/books/11/269529">上一章</a>
                        <a href="/books/11">目录</a>
                        <a href="/books/11/269531">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;神速记住【】www、siluke、info，给书友提供一个舒适靠谱的无弹窗小说阅读网。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;。&nbsp;&nbsp;&nbsp;&nbsp;&gt;今日第七更了，三更保底，一章为盟主加更，三章月票加更。&nbsp;&nbsp;&nbsp;&nbsp;论更新数量，武炼应该不算差，但月票依然稀少。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;武炼的成绩确实如之前预料的那样，并不好，甚至可以说是惨淡。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;但，武炼塑造的是一个持久的主角，所以小莫也想做个持久的作者，不管订阅的成绩如何，武炼都会坚持，小莫也会坚持，因为我还有许多书友在支持，你们的每一份订阅，每一个打赏，每一张月票都是我码字更新的动力。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;各位若是觉得本书不错，也请帮忙推荐给自己的朋友，也算是为小莫拉点订阅过来。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;但眼下最重要的，还是要求月票，唯有在月票榜上名次越高，才能让越多的人看到武炼，看到小莫的更新。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;对于一个作者来说，自己写出来的东西能让很多人看到，这才是最幸福的事情。恳请各位书友将自己的力龖量汇聚过来，让我们飞的更高，走的更远！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;求月票！！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;神速记住【】www、siluke、info，给书友提供一个舒适靠谱的无弹窗小说阅读网。<br />　　
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/11/269529">上一章</a>
                        <a href="/books/11">目录</a>
                            <a href="/books/11/269531">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

