---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">构架的最初思想</div>
        <div class="next">
                        <a href="/books/19/283332">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/283334">下一章</a>
                    </div>
        <p>
            唉，为什么大家都要往宠物小精灵想呢。宠物小精灵我有看，不过也没多看，五十多集的样子，外加几集剧场版，在写这本的时候本来打算去看，不过怕看多了很多思维就会被带走，所以没去看了<br />　　宠魅里大部分魂宠都是自己原创的，有列了魂宠百科全书，主要取材是从西方魔怪和东方神兽妖物中得来，会出现一些歪曲的形象，多半是大家脑海中已经有了一些宝宝形象，然后通过一些片面的文字描写，就进行对号入座了，以至于魂宠模样完全歪曲了……<br />　　莫邪前期的模样为九尾，九尾形象比较大众，大家自己想象就好了，后期的蓝本更接近中国神兽赤炎兽，有类似图，大家可以自己找找看。夜之雷梦兽蓝本为龙之嘲风，梦魇上半身蓝本为西方火魔，墨也是黑色战虎，蓝本为《是神》中的蝎尾豹，冰空精灵是《英雄无敌》中气元素形象，身材更纤细罢了。魔树战士同样是《英雄无敌》中的守卫木妖。<br />　　呃，大家尽量把魂宠把魂宠往立体、真实想，宠魅的魂宠风格上一般都是：凌厉、威武、狂野、神骏、张扬、俊逸、邪魅、黑暗、凶残、暴戾、诡秘、恐怖等，如果在看宠魅的时候，脑子里全是宠物小精灵q版的魂宠……读起来就会怪怪的了，因为后期的魂宠模样会越来越偏于以上列举的那些风格……<br />　　其实我很想申述，宠魅的真正蓝本是英雄无敌，并非宠物小精灵。和宠物小精灵相同的地方是可以野外抓魂宠以及主人不直接参加战斗……<br />　　事实上，英雄无敌如果学了“外交术”的话，就可以得到新的兵种，玩大图的时候，这是英雄必学技能，而我自己很喜欢这样收服兵种的感觉，所以经过比较合理的改造变为现在的收服魂宠。同时，英雄无敌中英雄是不参加战斗，只释放魔法和掌控战局，宠魅之中也是借鉴了。<br />　　宠魅风格其实也同小鱼写过的小说差不多，少了几分升级打怪模式，多了几分立体真实，描写上则大部分是以上帝视角，这样代入感可能不强，不过看上去会很有视觉效果，也可以给大家更多的遐想空间。这种写法可能是跟我自己偏爱观看电影次爱阅读书籍有关……;
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/283332">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/283334">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

