---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">立据,欠一章</div>
        <div class="next">
                        <a href="/books/19/283388">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/283390">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;立据，欠一章()<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;从12点坐在电脑面前到2点，打了一千个字，结果全删了……卡住了，而且最近这半个月，每天除了吃饭就是码字，精神有点过于紧张了，昨天在天台睡着也是想排解下压力，结果排解过头了，想到还有一章，两点多在天台睡醒了，又马上继续码字……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;本来今天这章也是要熬夜码完的，可实在实在写不出来了，这章就欠着，立下这个单章做证据……明天应该很难做到五章更新的补全，哪天状态好，就会把这章欠着的补上~~~~~真<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;的非常抱歉，食言了……唉……还是希望大家能够谅解……@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/283388">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/283390">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

