---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">容我睡个觉,晚上再补上昨天的和今天的</div>
        <div class="next">
                        <a href="/books/19/283457">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/283459">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;容我睡个觉，晚上再补上昨天的和今天的()<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;又是两天没睡觉了，黑眼圈深跟画了重眼影似的，精神也快崩溃了，先睡个觉，晚上果断三章更新。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/283457">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/283459">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

