---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第一个荣誉,真的希望大家能够帮助小鱼得到</div>
        <div class="next">
                        <a href="/books/19/283442">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/283444">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;第一个荣誉，真的希望大家能够帮助小鱼得到()<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一共发了六章，一万八千字，还差两千字就两万字了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;今天总共就才吃一顿饭，几乎有五个小时都是饥饿状态下码字的，**没写完，真的非常抱歉，不过还是恳请大家把***投给宠魅吧，宠魅处在第十名，摇摇欲坠，随时都会被后面一名超过，这整整一个月时间，平均下来小鱼每天都是一万二的量在更新，偏偏正值毕业稿要写的时候，有好几次两边兼顾，都是连续连着两天没有睡觉。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;很多时候，宁愿放着另外一边的事，也实在不忍心让宠魅的更新断下，就是为了这最后时刻pk前十荣誉的心愿和对于小鱼来说可观的奖励！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;宠魅，是小鱼精心准备了半年时间的小说，也是一本该点非主流的另类小说，没有参照，没有借鉴，或许有模仿，但绝对是自己思路，写出自己的风格，从开书过程的平淡，但***章节后的崛起，好几次小鱼也都是黯然心伤和热泪盈眶。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一千元的奖金是可观的数目，***前十却更值得欣慰的荣耀，小鱼确实希望这第四本小说，能够不再是默默无闻的龙套，能够真正的拿到一次权威的荣耀！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;今天更新或许不太给力，**也没有写完，不过小鱼可以保证明天绝对会让大家大喊爽快。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;但是如果明天***，就有些来不及了，所以现在特意开一章，真心希望大家满足小鱼的这个心愿！！！！谢谢大家了！！！！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/283442">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/283444">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

