---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">你们让我情何以堪啊</div>
        <div class="next">
                        <a href="/books/19/284034">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284036">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;推荐榜单又滑下去了……唉，你们要让我情何以堪啊，就昨天比以往少了一章，推荐榜马上就被挤了~~~~~~~感觉你们在对我说“谁让你少更……”<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;大家别这样啊，小鱼写了大半年每天三章了。包括之前周六周天说更新两章，事实算上每星期爆发的章节，这两天几乎还是没休息。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这次，小鱼是真的有些累了，才郑重的和大家说每周少更一章，结果推荐票马上就滑。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这样的话，小鱼还敢休那个维持一星期的两更假吗？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;小鱼确实需要一个两更假来调整，但是仅仅一天少更，推荐票就如此下滑，小鱼又哪敢去给自己放这个两更假。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我想，小鱼真的去休这一星期的两更假，发现成绩大下滑，估计这一个星期都别想睡好觉，休息了等于没休息。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;小鱼还在调整，可以调整过来就不休了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;但若是调整不过来，确实要休息，真的恳请大家能够在小鱼休息的时间里像平常一样支持小鱼。毕竟，j就算是假期小鱼每天还至少有两章的更新，不是断更啊~~<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;不知不觉又到月末，大家有月票也投些给小鱼吧~~~~~处处都是竞争，压力真的好大~~~~~~~<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284034">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284036">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

