---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">更新可能会迟点,大概会两点才发</div>
        <div class="next">
                        <a href="/books/19/284236">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284238">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　(本章免费)<br />　　写得真心慢，到现在其实已经写完了，但刚好写到楚暮和叶倾姿的情感问题，这该一气呵成写完的地方小鱼不想断开发，所以干脆写长一些，然后迟点发。<br />　　可能会到两点才发，大家能等就等，不能等的话明天再看~~ro<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284236">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284238">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

