---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">29号,求五章,求月票!!</div>
        <div class="next">
                        <a href="/books/19/284398">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284400">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　29号，虽然28号没七十票，不过老规矩没达到也加更。<br />　　29号至少四章，月末了大家的票应该都要出手的，30票算一章，明天大家也保底给小鱼120票吧！<br />　　若是能够再多给小鱼50票，会有五章送上！！<br />　　这个剧情谁会爆发，大家肯定是猜到了的。<br />　　小鱼会尽量将情节激情起来，所以，跪求大家月末月票！！！！<br />　　明天小鱼准备更新五章，大家要的话，就多给小鱼几张月票！！！！！<br />　　.rt<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284398">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284400">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

