---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">主宠回归,求票!!!</div>
        <div class="next">
                        <a href="/books/19/284448">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284450">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　&nbsp;&nbsp;&nbsp;&nbsp;&gt;..四大主宠回归，华丽的一战即将拉开序幕！送死吗？当然不可能！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;前面的铺垫确实有些长了，不过相信相信接下来白衣肯定会染得通红染成烈火一样~~~~<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;创作的热情来源于读者的支持，所以跪求月票（求魔）！！！！！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还有，明天周五正常只两章，可两章肯定是不够看，要不要爆发，“唯利是图”的小鱼就看大家月票（求魔）是否给力了！！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;后再吼一句，求月票（求魔）！！！！未完待续..<br />　　<br />　　看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284448">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284450">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

