---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">电脑又崩了</div>
        <div class="next">
                        <a href="/books/19/284545">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284547">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　电脑又坏了。。。稿子在电脑里啊。，今天还有一章零点左右会在网吧传。。啊。有木有电脑高手告诉我硬盘的东西会不会消失。电脑里第一稿啊和新书的资料啊。，(未完待续)rq<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284545">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284547">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

