---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">电脑坏了,今天更新通知</div>
        <div class="next">
                        <a href="/books/19/284500">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284502">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　&nbsp;&nbsp;&nbsp;&nbsp;电脑拿去修了，大概要到三四点才能取。第一章更新就放在五点或六点，然后八点左右会有第二章，第三章大概也回在十点之前出~~<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还有，今天双倍月票，再跪求啊！！！<br />　　<br />　　看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284500">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284502">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

