---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">二月,四章求票!!!</div>
        <div class="next">
                        <a href="/books/19/284593">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284595">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　做完车整个人都快散架了，现在最怕就是久坐啊，歇息了好久才缓过来，于是码完刚才那章。<br />　　二十几岁的人，本应该活力无限，但这一颈椎病，让我整个人就像个老头，真的要了亲命了。<br />　　可二月一号到了，再不舒服，还是得爆发啊。<br />　　这天会有四章送上！<br />　　大家能给小鱼几票？一章20票可以吗？<br />　　诚恳求票，求二月的保底月票！！rq<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284593">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284595">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

