---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">三章完毕,求下月票</div>
        <div class="next">
                        <a href="/books/19/284699">上一章</a>
                        <a href="/books/19">目录</a>
                        <a href="/books/19/284701">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　今天月票偏少，实在忍不住，开个单张求下月票！<br />　　大家看看自己手头有出月票了没有，投一张给宠魅中每一个值得敬畏的魂宠吧。<br />　　求月票……没有月票，推荐票也给下吧~~~~rq<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/19/284699">上一章</a>
                        <a href="/books/19">目录</a>
                            <a href="/books/19/284701">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

