---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第三更求票!紧急,请大家进来看看!</div>
        <div class="next">
                        <a href="/books/24/294958">上一章</a>
                        <a href="/books/24">目录</a>
                        <a href="/books/24/294960">下一章</a>
                    </div>
        <p>
            @@﻿十一月一开始，到现在居然悲惨到，只十张月票——好吧，开荒知道是自己不对，十月更新没能达到预期。书友们对现在的剧情，可能也不满意。剧...<br />　　正在手打中，稍后即将更新！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/24/294958">上一章</a>
                        <a href="/books/24">目录</a>
                            <a href="/books/24/294960">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

