---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">抱歉,有人冒用我名办了张透支卡</div>
        <div class="next">
                        <a href="/books/24/295358">上一章</a>
                        <a href="/books/24">目录</a>
                        <a href="/books/24/295360">下一章</a>
                    </div>
        <p>
            @@﻿最近心情实在烦闷，一年前莫名其妙多了一万贷款。现在又有人用我的名义，办了信用透支卡。真不知道怎么了，是谁我都还没弄清楚，估计是亲人。银行的人怎么就这么黑？...<br />　　正在手打中，稍后即将更新！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/24/295358">上一章</a>
                        <a href="/books/24">目录</a>
                            <a href="/books/24/295360">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

