---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第一千七百九十九章 远古造化之门</div>
        <div class="next">
                        <a href="/books/22/289233">上一章</a>
                        <a href="/books/22">目录</a>
                        <a href="/books/22/289235">下一章</a>
                    </div>
        <p>
            
        </p>
        <div class="next">
                            <a href="/books/22/289233">上一章</a>
                        <a href="/books/22">目录</a>
                            <a href="/books/22/289235">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

