---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">三江感言!</div>
        <div class="next">
                        <a href="/books/20/285160">上一章</a>
                        <a href="/books/20">目录</a>
                        <a href="/books/20/285162">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;三江了，说实话，十步也没有想到会是三江封，小心脏一直扑通扑通跳个不停，有些不敢相信啊，那从来都是神们的位置，十步上去了真是有点诚惶诚恐。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;好吧，感谢十步的责编，和善而耐心的海星，说实话，人皇准备了很久，海星也给了不少提点，没有她，就没有人皇现在的成绩。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有人曾经问，十步当年写不灭的热血哪里去了，十步说，不灭之后走入了歧路，但是现在十步又可以告诉你，不灭的热血在这里，人皇里，人族的世界里，在这里，人族只相信自己，不求仙，不拜神，不礼佛，用自己的双手创造一切！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;喜欢的书友收藏下，来给人皇投票吧，无论是推荐票还是三江票，三江票是到三江频道领取三江票后再进行投票，领票的地方在三江杂谈旁边，有个点击领取的红色选项。在这里，十步祝愿所有支持人皇的兄弟姐妹，天天开心。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;看完记得：方便下次看，或者。
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/20/285160">上一章</a>
                        <a href="/books/20">目录</a>
                            <a href="/books/20/285162">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

