---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">停更报告,欠15更!</div>
        <div class="next">
                        <a href="/books/20/285541">上一章</a>
                        <a href="/books/20">目录</a>
                        <a href="/books/20/285543">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　一些跟读的兄弟应该知道，恩，还是那件纠纷，一直拖着处理不掉让十步心神不宁，精神疲惫，已经出现两次沾床即着没有更新的情况了，所以这次花三天来彻彻底底处理此事，当断不断，拖拖拉拉，反受其乱，今天最后一天刚处理完，总算结束了，松口气，整个人累得想死，纠纷大家应该懂得，吵、乱、搅、活，明天起恢复更新，到月底前，不出意外情况，三更保底！希望大家谅解，在这里给大家解释一下，相信的则信，不相信的十步也没法，从9月2号开始的纠纷，十步也身心俱疲，最后，感谢这两天还继续投月票，推荐票的兄弟姐妹，十步拜谢，感谢一路相伴！！！(未完待续。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/20/285541">上一章</a>
                        <a href="/books/20">目录</a>
                            <a href="/books/20/285543">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

