---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">周一求推荐票!</div>
        <div class="next">
                        <a href="/books/20/285852">上一章</a>
                        <a href="/books/20">目录</a>
                        <a href="/books/20/285854">下一章</a>
                    </div>
        <p>
            readx();最近几曰写得比较有感觉，写出一点想要的味道了，不过还欠缺一些情绪，需要酝酿一番，真是好久不求票了，看着近几天开始比较稳定的份上，厚颜向大家求几张月票，来给自己加一分动力，周一又到了，推荐票都是免费的，每天都有，大家都来投给人皇吧，今天要是满了600推荐票，明天十步就三更，多的暂时不敢保证，慢慢来，刚刚有所稳定，咱一步一步走，步子迈小一点，尽量做到承诺的每一句话。最后希望大家能踊跃在书评区发言，写写书评啥的，版主都会加精的，只要不是辱人的意见，十步都会认真看的。再次感谢大家对人皇的支持和一路以来的坚持。(未完待续。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/20/285852">上一章</a>
                        <a href="/books/20">目录</a>
                            <a href="/books/20/285854">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

