---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">新书强推了!</div>
        <div class="next">
                        <a href="/books/20/285961">上一章</a>
                        <a href="/books/20">目录</a>
                        <a href="/books/20/285963">下一章</a>
                    </div>
        <p>
            @@﻿《紫极天帝》已经进入强推阶段，预计8月1日上架，是新的世界，也是人皇生命的延续，还有不知道的老书友们都来看新书吧，看到后面一切也都明白了。(未完待续。)&lt;/div&gt;@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/20/285961">上一章</a>
                        <a href="/books/20">目录</a>
                            <a href="/books/20/285963">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

