---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">新书预告</div>
        <div class="next">
                        <a href="/books/20/285954">上一章</a>
                        <a href="/books/20">目录</a>
                        <a href="/books/20/285956">下一章</a>
                    </div>
        <p>
            新书已定，将于6.14号正式于起点发布，新书将是人皇的延续，亦是人皇这本书新的开始，这是一个独立的故事，亦是一个交汇的故事，萧易会在新书中现身，所有在人皇当中的遗憾，一切大秘，都会在新书中为大家揭开，所以，害怕人皇太监的书友们不必担心，新书便是另一种方式的接续，这将会是一个有血有肉的故事，亦是十步自身风格的一次定型与塑造，新书中，大家会见到诸多耳熟能详的人或物。<br />　　<br />　　说实话，步入工作之前，十步一直以为自己积累足够，已经成熟，直到踏入社会三年，经过这半年的断更，才真正明白人情冷暖，才看清阴阳虚实，才懂得什么才是生、老、病、死，新书不想多做什么承诺，十步只想用心写完人皇未完的故事，缔造出一个真正波澜壮阔的远古时代。<br />　　<br />　　此外，人皇会在本周开更，一周一章，还有三章，至6.14结束，一个大局将要埋下，一切真相，故事，都将由新书接续。<br />　　<br />　　另外，十步开辟了**，shibuxing**，十本人皇实体书将在6.14前陆续送给关注的书友们，算是十步的一点心意。(未完待续……)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/20/285954">上一章</a>
                        <a href="/books/20">目录</a>
                            <a href="/books/20/285956">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

