---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">致今天做过努力的兄弟们!</div>
        <div class="next">
                        <a href="/books/23/291166">上一章</a>
                        <a href="/books/23">目录</a>
                        <a href="/books/23/291168">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;()&nbsp;&nbsp;&nbsp;&nbsp;我很感动，今天的两个活动，不管是贴吧还是17k手机网，都有大量的读者为我努力，今天你们帮助我，疯子肯定会回报各位，说到做到，男子汉大丈夫，一言既出驷马难追。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;关于贴吧的活动，大家成功攻破一千评论，很多出力的人，我心中有数，这里不一一说出来，但只要我还在写书，我们都是兄弟，我不会亏待各位。一千评论，我欠大家个5章更新，在短时间会全部补齐，具体什么时候我也不清楚，因为我还有一门考试要复习，但不会超过十天。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;关于手机网的活动，看到大家这么热情，我也很感动，龍族的兄弟们谢谢你们，多谢你们的厚爱，我会努力写书，努力爆更，感谢大家一路陪我走下去，手机网活动，截止刚才一共有78位书友完成任务，不信大家可以数一数，我算成80，所以我欠大家4更。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一共9更！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这9更，我会努力还清，跟着我一路走来的人都知道，疯子一个月更新70万字，一rì爆更50章，从来没有欠大家一章，就算有仅有几天2章，接下来还是补上了一章都没欠，那些说疯子说到做不到的人，去吃屎吧，大家心里有数就行了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;9章，十天之内，会一一更上。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;两大活动，在这时候暂时关闭，等我还清了9章，暑假时间，我会再继续开启，到时候17k手机网的读者，可不要输给贴吧的兄弟了，你们才引爆4章，他们引爆了5章……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;等待再次开启的时候，到时候我们龍族，再次席卷！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/23/291166">上一章</a>
                        <a href="/books/23">目录</a>
                            <a href="/books/23/291168">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

