---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">今日更新通知</div>
        <div class="next">
                        <a href="/books/23/293765">上一章</a>
                        <a href="/books/23">目录</a>
                        <a href="/books/23/293767">下一章</a>
                    </div>
        <p>
            @@今天时间有些耽搁了，时间改为晚上22点。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;本书首发来自17k小说网，第一时间看正版内容！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;&lt;!--作者有话说editorbyjack2014-09-19--&gt;<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;#includevirtual="/fragment/6/3236.html"&lt;!--二维码广告start--&gt;.qrcode{width:590px;margin:0auto;background:#fff;border:1pxsolid#ccc;padding:5px5px;overflow:hidden;}.qrcodeimg{float:left;}.qrcodeul{margin-left:120px;font:14px/1.5"microsoftyahei";padding-left:15px;}.qrcodeli{list-style:square;margin-bottom:5px;padding-top:14px;}<br />　　<br/>正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/23/293765">上一章</a>
                        <a href="/books/23">目录</a>
                            <a href="/books/23/293767">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

