---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">周一冲榜,诚求点击推荐</div>
        <div class="next">
                        <a href="/books/18/282483">上一章</a>
                        <a href="/books/18">目录</a>
                        <a href="/books/18/282485">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;书友们，兄弟们，姐妹们，老少爷们儿们。这是裁决上架之前的最后一个星期，也是最关键的一周。现在点击榜第四，推荐榜第八，不上不下的位置。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;请大家祝裁决一臂之力，或许您的一票，就能让裁决前进一步！拜求！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;，<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;，<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;，<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;，c<br />　　<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/18/282483">上一章</a>
                        <a href="/books/18">目录</a>
                            <a href="/books/18/282485">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

