---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">臊眉耷眼的请假条.</div>
        <div class="next">
                        <a href="/books/18/282726">上一章</a>
                        <a href="/books/18">目录</a>
                        <a href="/books/18/282728">下一章</a>
                    </div>
        <p>
            @@﻿终于还是憋不住请假了。精神越来越差，前端时间熬夜的疲惫，几乎深入到了骨里，效率低到了令人发指的地步。仔细想象，与其半死不活的吊着，倒不如把精神恢复过来。同时赶紧弄弄大纲，为下半个月的拼搏做准备。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;鞠躬，请假。想打想骂大家伙儿随意，保证态度端正。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我是真想好好睡一觉啊。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;.<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="85abc5">[email&#160;protected]</a>@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/18/282726">上一章</a>
                        <a href="/books/18">目录</a>
                            <a href="/books/18/282728">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

