---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">开了个微博,大家没事来逛逛,留个言吧^_</div>
        <div class="next">
                        <a href="/books/30">目录</a>
                        <a href="/books/30/301568">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　看到猫他们都开了，白鹤也去凑个热闹。里面，苍天白鹤的名字已经被人注册了，白鹤只好弄了个真苍天白鹤。腾讯里面，貌似苍天白鹤，汗……各位同学有空，来看看白鹤。.t<br />　　最快更新，无弹窗阅读请。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                        <a href="/books/30">目录</a>
                            <a href="/books/30/301568">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

