---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">那就&hellip;&hellip;求一个吧.</div>
        <div class="next">
                        <a href="/books/27/298334">上一章</a>
                        <a href="/books/27">目录</a>
                        <a href="/books/27/298336">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;现在是月票翻倍啊，大家都建议我求月票。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我之前一直都不提月票的事情，除了新书那个月求了一下，之后都没理会月票榜。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;最近好多好多读者都建议我别放弃月票榜。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;其实我说实话，我之所以不拼月票榜，最大的原因是，现在的月票榜太花钱了，想要冲上去，简直就是洗读者的钱包。每次拼月票，都会有很多读者拼命砸钱。我实在心疼你们的银子。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我从来最讨厌的就是压榨读者，所以我从来不求打赏，现在也不拼月票。我一直觉得，你们肯花钱订阅正版，就已经是给足我面子了，其他的什么月票啊打赏啊大神之光啊都是浮云，给了我这些额外的，都让我受之有愧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;不过既然大家都这么建议了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;那么，这个月就求一下月票吧。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我不求什么太好的名次，只要排名不太难看就好啦。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;还是那句话，大家有月票的就投一下，没有就算了，千万千万年不要为了凑月票而刻意花钱啊！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有月票就投来，没月票就继续开心看书，就是这样！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;——爱你们的跳舞，么么哒。(未完待续。)q
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/27/298334">上一章</a>
                        <a href="/books/27">目录</a>
                            <a href="/books/27/298336">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

