---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">今天的更新要晚一点~</div>
        <div class="next">
                        <a href="/books/27/298671">上一章</a>
                        <a href="/books/27">目录</a>
                        <a href="/books/27/298673">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;我有点事情在外面忙，今天的更新一定有，但是要晚一些。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;可能要到夜里才会更新。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;先通知一下大家，免得大家等得着急~<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;建议大家不妨明天早上起来再看也行。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;当然了，夜猫子属性的兄弟们，就随意啦！~<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;说个题外话，前几天有一位读者的留言，让我看了其实心里很难受，当时不知道怎么回复。大家都知道，我上个月因为一些事情而断更了几天。我知道会让很多人抱怨，我也提前就说明了我会更新不正常。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;前两天看到一位读者留言质问我，说某位作者家里有人去世了还依然保持更新，说这才叫敬业。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我断更的第一天，是因为我父亲在医院做检查，结果查出问题，我接到电话，慌得电脑都没关就直接跑出门赶赴医院。更新码字？那个时候我真的没心思写字了。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;别人或许是超人，我只能仰望，但是我自己真的做不到那种程度。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我只能说，人与人的处事态度和标准是不同的。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;如果说家里人去世了还保持更新才能叫敬业的话，这种敬业，我真的做不到。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;……(未完待续。。)u
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/27/298671">上一章</a>
                        <a href="/books/27">目录</a>
                            <a href="/books/27/298673">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

