---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">第一千三百六十二章 不甘心</div>
        <div class="next">
                        <a href="/books/14/275984">上一章</a>
                        <a href="/books/14">目录</a>
                        <a href="/books/14/275986">下一章</a>
                    </div>
        <p>
            
        </p>
        <div class="next">
                            <a href="/books/14/275984">上一章</a>
                        <a href="/books/14">目录</a>
                            <a href="/books/14/275986">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

