---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">新的一周,求推荐票!</div>
        <div class="next">
                        <a href="/books/4/251081">上一章</a>
                        <a href="/books/4">目录</a>
                        <a href="/books/4/251083">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　大主宰已经将近十万字了，这本新书花费了不少的心血，我也相信这会是一本。<br />　　<br />　　提前公布书名，结果盗版满天飞，数据分流，搞得我焦头烂额，甚至还有一些读者搞不清楚正版是哪一个，我也很无奈尴尬。<br />　　<br />　　不过还是在这里拜请所有的读者，请大家支持大主宰，我会给予大家一个不错的故事，请相信我。<br />　　<br />　　这一周开始了，推荐票以及收藏都格外的重要，所以，请所有的读者，如果你有起点账号的话，请将大主宰收藏，请将推荐票投给大主宰。<br />　　<br />　　拜谢！<br />　　<br />　　ps：大主宰这周三江，也请大家点击三江频道，将三江票投给大主宰，谢谢！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/4/251081">上一章</a>
                        <a href="/books/4">目录</a>
                            <a href="/books/4/251083">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

