---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">今天书友活动~</div>
        <div class="next">
                        <a href="/books/4/252400">上一章</a>
                        <a href="/books/4">目录</a>
                        <a href="/books/4/252402">下一章</a>
                    </div>
        <p>
            @@﻿晚上7点30，歪歪1744会有一场书友活动，有漂亮的软妹纸唱歌，还有很多实体书送<br />　　<br />　　大家有空的话可以去玩玩，还是蛮热闹的哦。<br />　　<br />　　另外也给大家推荐一个大主宰天府活动群：368647357.<br />　　<br />　　(未完待续。)……@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/4/252400">上一章</a>
                        <a href="/books/4">目录</a>
                            <a href="/books/4/252402">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

