---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">推荐一本新书!</div>
        <div class="next">
                        <a href="/books/15/276491">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/276493">下一章</a>
                    </div>
        <p>
            《卡途》<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;链接：http:///book/2982862.aspx<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;简介：爱财，有点小腹黑，有点小淫－棍，自认为是一个好人的李隐，在一个属于卡片的世界里，走出了一条属于自己的卡片路途。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;卡片类的书，有喜好这种类型的哥们不要客气，上吧！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/276491">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/276493">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

