---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">石章鱼新书!</div>
        <div class="next">
                        <a href="/books/15/276520">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/276522">下一章</a>
                    </div>
        <p>
            左手菜刀<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;右手离骚<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一念成佛<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一念成魔<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一个身世平凡的少年，却背负着改变时代的神圣使命，一把菜刀，一本菜谱，砍出属于我自己的辉煌人生，命运我来掌控，时代我来改变，规则我来制定！天下风云出我辈，一入江湖岁月催。皇图霸业笑谈中，不胜人生一场醉……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;不用多费口水，石章鱼，老作者了，书肯定好看的！先收藏一个呗！！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;http:///book/3012682.aspx(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/276520">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/276522">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

