---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">新书推荐!《盗命钟表》</div>
        <div class="next">
                        <a href="/books/15/276506">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/276508">下一章</a>
                    </div>
        <p>
            @@﻿&nbsp;&nbsp;&nbsp;&nbsp;虚空之内，九剑浮于空中，光芒闪烁，如龙吟般的鸣叫不断发出……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;乌云之下，一人闭目站立，无数灵魂转动，来自地狱里面的哀嚎……<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;茫茫大地，群雄逐鹿，为剑而生，亦为剑而亡。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;姓氏者白，名为石。却以酿酒之天赋，踏上剑修之路，而后以剑之名，立地成佛。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一切精彩，尽在《剑佛》之中！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;作者：终归谎言<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;(未完待续。如果您喜欢这部作品，欢迎您来起点（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/276506">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/276508">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

