---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">荣耀即吾命,剑指第一!猪头接战了!</div>
        <div class="next">
                        <a href="/books/15/277083">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/277085">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;光明纪元,荣耀即吾命，剑指第一！猪头接战了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;在这个尴尬的时候，在猪头更新不是很多的时候，大伙让猪头没有其他选择了，想了很长时间，觉得没有回到上海更新不多，争第一底气不足，可是你们都说了叫猪头争一个第一，有你们，猪头底气有了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;既然都已热血沸腾，那么猪头还含蓄做什么。大伙下的战，猪头接战，猪头请求更多的人应战，我们一起疯魔一把！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这个月，求一把第一！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;不要管月底有没有双倍了，现在就投票吧，杀上第一去！等来等去的能等到第一吗？现在就开始战斗！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;大伙吹响号角，猪头唯有战斗报答大家。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;大伙都要第一，猪头也要！让猪头看到大家的票子，用票子告诉猪头，第一是有多么的渴望！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;荣耀即吾命，千骑卷平冈，这句口号伴随着我们从偷天百盟到光明纪元百盟，现在用这口号，杀向第一！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;剑指第一，求月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;ps：猪头回到上海后，肯定达到每天四更的量，人品保证。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;&lt;&nbsp;=""&nbsp;=""&gt;
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/277083">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/277085">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

