---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">六更完毕!疯狂开始.</div>
        <div class="next">
                        <a href="/books/15/277194">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/277196">下一章</a>
                    </div>
        <p>
            @@﻿&nbsp;&nbsp;&nbsp;&nbsp;稍微看了下排行榜，简单来说就是更新比别人多，票比别人少。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头不想说别的，就想求票。有更新都求不来票，猪头还能用什么理由求票。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;成绩猪头在乎，认输猪头不会。反正大家知道有票没票猪头都会更新。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头都是以实打实的更新说话，别人没更，猪头六更，票没人多。这种心情大家能感受？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;礼拜一，猪头继续疯。三更起步，不是偷懒，而是没有存稿已经六更拼的很累，刚回上海也没有来得及好好休息。四更不排除没有，五更也有可能，就看大家会不会刺激猪头不好意思更三更。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;别的话也不多说，求推荐，求月票。这个月必然会比上个月的总量多。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有能刺激猪头更的更多？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;让猪头看到你们想要看更多更新的决心！都投票吧！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/277194">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/277196">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

