---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">互为袍泽,一起浴血奋战到底!</div>
        <div class="next">
                        <a href="/books/15/277129">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/277131">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;21号了，惨烈的厮杀就要来了，我们10号登顶的，守住第一，守了整个中旬。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;现在下旬来了，刀刀见血的厮杀就要来了，我们能松懈吗？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头知道，支持猪头的大家都在投票，但是真正的厮杀就要到来，我们能软吗？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这个第一，喊出来就不收回去！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以四更拼命的码出来了，也请求大家拼命的投票。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这个九月，我们杀到底！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这个九月，我们战到底！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这个九月，拿命拼到底！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;第一，浴血夺来，誓不松手！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;一句话，求更多月票！(未完待续。如果您喜欢这部作品，欢迎您来（520xs.com）投推荐票、月票，您的支持，就是我最大的动力。)<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;提供无弹窗全文字在线阅读，更新速度更快文章质量更好，如果您觉得网不错就多多分享本站!谢谢各位读者的支持!<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;高速首发光明纪元最新章节，本章节是互为袍泽，一起浴血奋战到底！地址为如果你觉的本章节还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/277129">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/277131">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

