---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">我想要的第一,请诸君赠与!</div>
        <div class="next">
                        <a href="/books/15/277160">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/277162">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;坚持了这么多天，这个时候被人翻盘，那坚持的意义何在？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我们努力了二十多天的成果，被别人最后三天摘走，大伙答应吗？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头这个月做到了承诺的，那么猪头想要的第一，还请大伙给猪头。[非常文学].【虾米文学<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;第一次求第一，你们就给了，猪头无以为报，只有今天的六更表明猪头的谢意。*非常文学*【虾米文学&nbsp;但是猪头想要第一到底，也想让光明纪元的荣誉里有一个月票第一的荣誉。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;九月，血战到底，猪头与大伙同行。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;荣耀即吾命，千骑卷平冈！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;九月的月票第一，猪头要了，大伙要不要？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;要，就请给光明纪元投票，双倍已然开始，还留有余力干嘛？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;请大伙多多投票，用我们坚定不移的态度告诉别人，第一，谁也别想拿走。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;月票，要多投，第一，要坚守！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;六更，换大伙无穷无尽的月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;光明纪元这本书，按照猪头的构思，现在写的内容才是冰山一角，很多东西都还没有揭露，猪头会努力给大家奉上一个精彩的故事，写出一本精彩的书。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头想与大家一同努力，用月票第一迎来光明纪元绚丽的精彩！(小燕文学您的支持，就是我最大的动力。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/277160">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/277162">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

