---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">前五能不能有猪头一席之地?</div>
        <div class="next">
                        <a href="/books/15/277895">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/277897">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;(qq小说网无弹窗小说网)有一种心痛是我的努力你们习以为常；<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有一种辛苦是我努力多更你们觉得轻轻松松；<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有一种决心是我在前十末尾却敢喊努力每天保底四更；<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有一种无奈是我下死力更新都求不来月票；<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有一种头疼是写单章比写章节还费力；<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;有一句国骂送给单章，去你大爷的(报告首长，申请离婚无广告)。天才第一步,记住小说网天才第一步,记住小说网<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我要光明纪元进前五，要月票。给不给在于大家。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;求月票，让光明纪元进前五！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;就酱紫。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;今天还是四更，说话算话。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;敢把月票投出来吗？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;坐等月票下雪一样撒下来……同时推荐一本书……猪头的铁杆粉丝的书《天使禁域》，大家多多支持一下！收藏一下，点击一下，发个书评，很容易吧？rs<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;最快更新，请。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/277895">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/277897">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

