---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">哭诉!!!求安慰,求票子!</div>
        <div class="next">
                        <a href="/books/15/278164">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278166">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;(qq小说网无弹窗小说网)----------------------活着回来了(报告首长，申请离婚最新章节)！猪头终于活着从某个恐怖的酒精魔王的手上活着回来了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;回来更新了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;哭，哭天喊地，痛哭流涕！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;天啊，猪头被一个醉酒的家伙要求强吻啊！他妹的是美女也就算了！他丫的是个男人啊！这群货都说猪头醉酒后招惹是非，但是比起他们，我他丫的纯洁得和驴子一样！比兔子兄弟还纯洁啊！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;哭，求推荐票安慰，求月票安慰！猪头好容易挣扎着逃脱血盆大口啊！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;天哪！以后和这群货喝酒，我一定要去大街上招贴广告，聘用二十个临时的妹子过去，否则扛不住他们啊！______________________<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278164">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278166">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

