---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">五月的辛劳,六月的感激!</div>
        <div class="next">
                        <a href="/books/15/278235">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278237">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;有多久没有这么累过了？除开猪头刚开始码字时，一天两箱啤酒扛着，一天更新好几万字的那一段时间，猪头就以刚刚过去的五月最劳累！<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;很累，真的累到了骨子里，但是一切都是值得的。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;有这么多兄弟姐妹支持，有这么多好兄弟好姐妹支持，猪头再累点也是心甘情愿。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;过去的五月是辛苦的，也是荣耀的。一切的荣耀都属于你们，属于不离不弃跟着猪头一直到今天的大家！<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;猪头口拙，无法形容心中的情绪。总而言之，很爽，很开心，很高兴。一切都是大家带来的，这一切都是大家的功劳，所以猪头再辛苦，也是高兴的！<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;羞赧于说太多温情脉脉的话，猪头只是仰天嚎叫一声：多谢大家！猪头还会竭尽全力，写得更爽，更痛快。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;刚刚过去的五月太累了，今天六一儿童节，猪头就发个两章调整一二吧。然后明天猪头老爹七十大寿，猪头陪他好好的痛饮一顿，请假休息一天。后天三号，猪头可能调整，可能不调整，如果没有更新，请大家谅解。<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;这是光明纪元一年多以来，猪头除开年假第一次主动的要求请假，因为是回家给老爹过生rì的特殊情况，还请大家多多包容，多多支持！<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;随后，猪头会坚持努力的更新。情节已经发展到了重要阶段，更多的jīng彩正等着大家！<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;最后猪头嚎叫一嗓子，六月希望猪头也有个好成绩，所以，保底月票都砸下来吧，都砸给如此努力的猪头吧！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278235">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278237">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

