---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">推介书友的新书!</div>
        <div class="next">
                        <a href="/books/15/278265">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278267">下一章</a>
                    </div>
        <p>
            @@﻿&nbsp;&nbsp;&nbsp;&nbsp;/book/2737972.aspx<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;“少爷，你的剑。”妞妞说道。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;“天下已无剑，又何来的剑。”花飞雪面对十方皆敌，平静地说道。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;他就是立天地间的那柄未出鞘的剑！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;地下无路，天上无门，唯有以我之血染天下，御剑破九天！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;******************<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头书友的新书，正在起点新书精品推荐中，大家有兴趣的就去看看吧！&lt;&gt;p:///book/2737972.aspx<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;“少爷，你的剑。”妞妞说道。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;“天下已无剑，又何来的剑。”花飞雪面对十方皆敌，平静地说道。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;他就是立天地间的那柄未出鞘的剑！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;地下无路，天上无门，唯有以我之血染天下，御剑破九天！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;******************<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头书友的新书，正在起点新书精品推荐中，大家有兴趣的就去看看吧！@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278265">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278267">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

