---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">有点小小滴贪心!</div>
        <div class="next">
                        <a href="/books/15/278460">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278462">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;五百票提前加更，本月还没有达到过，过于艰难，猪头也不奢望今日能够达到！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;但是连续两天单日求票过三百，却也是快半月未曾达到！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;昨日，单日月票过三百，25日八更！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;今日，猪头再求月票过三百，30日八更！来个连续两天单日月票过三百，守住前三可好？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;倘若今日月票过五百，则提前到29日八更！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;只求月票前三，因为有书迷想要猪头月票前三，猪头不得不力拼！但前三还不稳妥！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;求月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;让猪头贪心一下！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;ps：本月最少三次八更yijing实现，具体猪头也忘了，反正超过三次了”“小说章节更新最快。上个月的承诺实现了。(未完待续。)<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278460">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278462">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

