---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">骷髅精灵新游戏出来了!</div>
        <div class="next">
                        <a href="/books/15/278417">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278419">下一章</a>
                    </div>
        <p>
            @@﻿骷髅精灵的热血《圣堂》7月18日11点30分开搞，游戏内置妹纸视频全程陪玩，群内贴身客服服务！现在加q群113546850游戏下载地址：(未完待续。如果您喜欢这部作品，欢迎您来起点（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278417">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278419">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

