---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">小差距,大动力!</div>
        <div class="next">
                        <a href="/books/15/278515">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278517">下一章</a>
                    </div>
        <p>
            @@﻿这还是月初，大家还有票子么？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;和前面的兄弟们的差距不是很大，如果大家的票袋子里还有一张月票的话，如果还有兄弟姐妹们没有投保底月票的话，都请投给猪头吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;和前面的差距很小，但是大家的每一票，对猪头而言都是巨大的动力！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;小小的差距，巨大的动力，让猪头在这炎热的夏天再热火朝天一把，成不？(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278515">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278517">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

