---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">别忘了锻炼身体啊!</div>
        <div class="next">
                        <a href="/books/15/278550">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278552">下一章</a>
                    </div>
        <p>
            @@﻿猪头这一段时间每天都运动运动，感觉关节啊、韧带啊都舒服了很多。大家有空，就在家里做点适量的运动，对身体总归有好处的。<br />　　<br />　　唔，有一种运动千万不要忘记，那就是每天登陆，然后给猪头投票啊！<br />　　<br />　　走过路过的兄弟姐妹们，不管怎样，把票子留下来吧！！！！！！(未完待续……)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278550">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278552">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

