---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">我勒个去,这么多人求月票!</div>
        <div class="next">
                        <a href="/books/15/278637">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278639">下一章</a>
                    </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;猪头只想月票前列一点么，居然碰到这么多人求月票。看样子猪头还得再求一下票票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;大伙有月票的赶紧投，月底的双倍就算了吧，俺们可能赶不上双倍的。所以现在就投掉吧！因为猪头也不知道，到底还会写多久。一个月？两个月？后面的情节似乎还是有点多的！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;都在讲爆发。。。。。。猪头稳定的四更也还算过得去啦，这个也可以让大家投张月票吧？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;至于很多人接受不了个把月完本，猪头只想说，猪头不能保证结尾是每个人都满意的，但是猪头的设定全部都会写出来，元界核心，人神大战全部都会给个交代。不会随便结尾，还是那句话，真心的不知道什么时候能够真正的结束！还有一些东西要仔细的写一下的。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;求月票，请让月票更多一点！让名次更前一点！！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;然后再讲个愿望吧，希望有能力的同学可以订阅下光明。嗯，距离总粉丝值前十只差两个排名，非常想完本时候能进入前十。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;求月票！！！(未完待续。。)
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278637">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278639">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

