---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">再来点儿?</div>
        <div class="next">
                        <a href="/books/15/278607">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278609">下一章</a>
                    </div>
        <p>
            @@﻿本书进入了中后期的**阶段，所以无法加快速度爆发啊什么的。毕竟，很多东西都要写得比较仔细，让大家看得更爽不是？前面的一些bug啊窟窿啊，也得弥补啊！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以，现在每天只能稳定更新，这就真心的很不容易了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以，还是多多的给猪头投点票子吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;比如说推荐票啊，比如说，月底了，还有多余的月票没有啊？<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;嗯，嗯，大家每天记得来看看猪头，然后，把每天都有的推荐票砸下来吧！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278607">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278609">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

