---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">双倍后期,向前冲一冲!</div>
        <div class="next">
                        <a href="/books/15/278765">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278767">下一章</a>
                    </div>
        <p>
            @@﻿月票双倍没两天了，距离前面也不是很远啊！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;也就是这么几十票、百把票的差距！只要有三五十个兄弟把保底投下来，猪头又能冲上去几名，砍掉几朵鲜嫩的小花了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;不要再小气把保底月票藏在票袋子里了，大家仔细的搜刮搜刮自己的票夹子，如果还有的话，就给猪头投几张吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;现在投给猪头，可是两倍的成绩，大家不要浪费了咯！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278765">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278767">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

