---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">最后两天!!!</div>
        <div class="next">
                        <a href="/books/15/278769">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278771">下一章</a>
                    </div>
        <p>
            @@﻿月票双倍，最后两天的机会！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;我们现在真心做得挺不错，我们每天都在追赶，每天都在坚定的前进！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;继续前进，千万不要落后了！最后两天双倍的机会，一定要努力的、坚定的抓住他！以林齐的大斧子的名义，请诸位打开票袋子，把留在手中的票子都给猪头投过来吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;以黑虎家族之名，走过路过的兄弟姐妹，都留下点什么！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这里是黑虎家族的地盘，就算是大雁，也都留下点什么！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278769">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278771">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

