---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">我需要支持,需要强大的支持!</div>
        <div class="next">
                        <a href="/books/15/278737">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278739">下一章</a>
                    </div>
        <p>
            @@﻿又是月票双倍期，猪头真心没有太多的优美词汇。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头现在处于一个很纠结的时期，猪头需要大家月票的支持！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;每天三章的更新很不给力，但是猪头的热诚从来没有变改过。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以，请给猪头投月票！请用大家的热情给猪头投月票！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;让大家的热情给猪头动力！谢谢大家！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278737">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278739">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

