---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">再来一点好不好嘛!</div>
        <div class="next">
                        <a href="/books/15/278785">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278787">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这两天推荐票很给力咯，再来一点嘛！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;每天都登陆一下，然后把可爱的推荐票全部送给猪头吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;每天给猪头几张推荐票，一定会心情愉悦的！(未完待续。)<br />　　<br />　　<br />　　看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278785">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278787">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

