---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">降温喽!</div>
        <div class="next">
                        <a href="/books/15/278811">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278813">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　&nbsp;&nbsp;&nbsp;&nbsp;大家记得多加衣服，宁可热着，别冻到了感冒！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;顺带着每天多给猪头丢点推荐票，这东西暖心窝，暖肠胃的。(未完待续。如果您喜欢这部作品，欢迎您来起点（.）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m..阅读。<br />　　<br />　　<br />　　看完记得：方便下次看，或者。@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278811">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278813">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

