---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">来点月票吧!</div>
        <div class="next">
                        <a href="/books/15/278879">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278881">下一章</a>
                    </div>
        <p>
            @@﻿<br />　　今天中午吃了一顿很难吃的午饭，呃，难吃得难以形容的难吃！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以，心情不会是很好！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以，请大家多给猪头投点月票，往上面爆几朵鲜嫩水灵的小花朵！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;因为猪头心情不是很好，如果能够让被我爆掉的同志们心情也略微郁闷一丁点，猪头的心情就突然变得很好很好很好了！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;所以，请给猪头多投点月票吧！(未完待续请搜索，小说更好更新更快<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="aa8bea">[email&#160;protected]</a>@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278879">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278881">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

