---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">搞点推荐票吧!</div>
        <div class="next">
                        <a href="/books/15/278847">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/278849">下一章</a>
                    </div>
        <p>
            @@﻿周一了，一周之计在周一！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;给猪头搞点推荐票鼓励鼓励吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;这几天各种各样的事情凑一块儿，猪头喝得都快吐了，而且还喝到了一次假酒，昏天黑地了一整天，郁闷啊！！！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;多来点推荐票，安抚一下俺受伤的脆弱的纯洁的稚嫩的小心灵吧！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/278847">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/278849">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

