---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">四更了,求点票!</div>
        <div class="next">
                        <a href="/books/15/279050">上一章</a>
                        <a href="/books/15">目录</a>
                        <a href="/books/15/279052">下一章</a>
                    </div>
        <p>
            @@﻿家里的事情好容易告一段落，虽然有点纠结，好吧，这是闲话。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;今天四更，还是比较给力的，所以，大家给点月票吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;猪头的手指头挨了一下，血流满手掌的，敲打键盘的还是很别扭的。猪头这样的努力啊，大家如果还有月票，就全部给猪头投下来吧！<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;恩，多多益善啊，猪头肚皮很大的！(未完待续。如果您喜欢这部作品，欢迎您来（qidian.com）投推荐票、月票，您的支持，就是我最大的动力。手机用户请到m.qidian.com阅读。)@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/15/279050">上一章</a>
                        <a href="/books/15">目录</a>
                            <a href="/books/15/279052">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

