---
title: 首页
---
{% include head.html %}

<div class="container">
    <div class="chapter-content">
        <div class="title">大家第二更不要等了,明天补.</div>
        <div class="next">
                        <a href="/books/25/295897">上一章</a>
                        <a href="/books/25">目录</a>
                        <a href="/books/25/295899">下一章</a>
                    </div>
        <p>
            @@﻿感冒不舒服，明天补三更吧。今天就一更了，大家见谅。<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;<br />　　<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;<br />　　<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;<br />　　新书推荐：、、、、、、、、、、、、、<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;<br />　　<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;footer();<br />　　<br />　　&nbsp;&nbsp;&nbsp;&nbsp;mark();<br />　　←→<br />　　<br />　　<br />　　&nbsp;新书推荐：、、、、、、、、、、、<br />　　@@<br />正在手打中，请稍等片刻，请记住 爱看小说 www.xs.la 内容更新后，请重新刷新页面，即可获取最新更新！
</br>
</br>
</br>
</br>
        </p>
        <div class="next">
                            <a href="/books/25/295897">上一章</a>
                        <a href="/books/25">目录</a>
                            <a href="/books/25/295899">下一章</a>
                    </div>
    </div>
</div>

{% include foot.html %}

